extends layout

block head
    link(rel='stylesheet' href='/stylesheets/member-total.css')
    script(src='/javascripts/auth.js')
block content
    section.hero-section.hero-middle
        .container(style='height: 100%')
            .row.justify-content-center.align-items-center(style='height: 100%')
                .col-md-6
                    p
                        | 정직하고 바른 세상을 만드는 길
                        b &nbsp;가온길
    section.container
        .card.bg-light.mt-3.font-family-NanumBarunGothic
            article.card-body.mx-auto(style='max-width: 400px;')
                h4.card-title.mt-3.text-center 계정 생성
                p.text-center 가온길에 기여하고자 하시면 계정을 생성해주세요.
                p
                    a.btn.btn-block.btn-twitter(href='')
                        i.fab.fa-twitter
                        |  &nbsp; 트위터로 로그인
                    a.btn.btn-block.btn-facebook(href='/auth/facebook')
                        i.fab.fa-facebook-f
                        |  &nbsp; 페이스북으로 로그인
                p.divider-text
                    span.bg-light OR
                form(action='/auth/signup' method='post').signup-form
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-user
                        input.form-control(name='name' placeholder='이름' type='text' value=data.name)
                    // form-group//
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-envelope
                        input.form-control(name='email' placeholder='이메일 주소' type='email' value=data.email)
                    // form-group//
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-phone
                        select.custom-select(style='max-width: 90px;')
                            option(selected='') +82
                        input.form-control(name='phone' placeholder='휴대폰 번호' type='text' value=data.phone)
                    // form-group//
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-building
                        select.form-control(name='job')
                            option(value='notselect' selected=data.job === 'noselect') 직업 선택
                            option(value='developer' selected=data.job === 'developer') 개발자
                            option(value='designer' selected=data.job === 'designer') 디자이너
                            option(value='civic' selected=data.job === 'civic') 시민 활동가
                            option(value='student' selected=data.job === 'student') 학생
                            option(value='other' selected=data.job === 'other') 그 외
                    // form-group end.//
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name='password' placeholder='비밀번호 입력' type='password')
                    // form-group//
                    .form-group.input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name='password-repeat' placeholder='비밀번호 재입력' type='password')
                    .form-group.input-group.ml-4
                        input(type='checkbox' name='agreement').form-check-input#agreement
                        label(for='agreement').form-check-label
                            a(href='/privacy-policy' target='_blank') 개인정보처리방침
                            | 에 동의하십니까?
                    if (error && error == 1)
                        p(style='font-size: .8em;color: red;')= message
                    // form-group//
                    .form-group
                        button.btn.btn-primary.btn-block(type='submit')  회원 가입
                    // form-group//
                    p.text-center
                        | 이미 계정이 있으십니까?
                        a(href='/auth/signin') &nbsp;로그인
        // card.//
